//Copyright (C)2014-2026 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Thu 04 16 23:56:53 2026

// Clock inputs
IO_LOC "sys_clk" 4;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE PCI_CLAMP=OFF BANK_VCCIO=3.3;

IO_LOC "5351ck_p" 10,11;
IO_PORT "5351ck_p" IO_TYPE=LVDS25 PULL_MODE=NONE PCI_CLAMP=OFF BANK_VCCIO=3.3;

// JTAG / config
IO_LOC "sys_tms" 5;
IO_PORT "sys_tms" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tck" 6;
IO_PORT "tck" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdi" 7;
IO_PORT "tdi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdo" 8;
IO_PORT "tdo" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// BANK 3/RECONFIG
IO_LOC "sys_recfg" 9;
IO_PORT "sys_recfg" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// SPI host
IO_LOC "hspi_sclk" 13;
IO_PORT "hspi_sclk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// LEDs
IO_LOC "led0" 15;
IO_PORT "led0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led1" 16;
IO_PORT "led1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led2" 17;
IO_PORT "led2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led3" 18;
IO_PORT "led3" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led4" 19;
IO_PORT "led4" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led5" 20;
IO_PORT "led5" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// LCD control
IO_LOC "lcd_hs" 25;
IO_PORT "lcd_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_vs" 26;
IO_PORT "lcd_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_b7" 27;
IO_PORT "lcd_b7" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_b6" 28;
IO_PORT "lcd_b6" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_b5" 29;
IO_PORT "lcd_b5" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_b4" 30;
IO_PORT "lcd_b4" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_b3" 31;
IO_PORT "lcd_b3" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_g7" 32;
IO_PORT "lcd_g7" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_r4" 41;
IO_PORT "lcd_r4" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_r3" 42;
IO_PORT "lcd_r3" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_de" 48;
IO_PORT "lcd_de" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_bl" 49;
IO_PORT "lcd_bl" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_ck" 77;
IO_PORT "lcd_ck" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// DVI / LVDS output pairs
IO_LOC "dvi_txc_p" 33,34;
IO_PORT "dvi_txc_p" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "dvi_tx0_p" 35,36;
IO_PORT "dvi_tx0_p" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "dvi_tx1_p" 37,38;
IO_PORT "dvi_tx1_p" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "dvi_tx2_p" 39,40;
IO_PORT "dvi_tx2_p" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;

// Audio / EDID
IO_LOC "pa_sd" 51;
IO_PORT "pa_sd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "edid_dat" 52;
IO_PORT "edid_dat" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "edid_clk" 53;
IO_PORT "edid_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2s_din" 54;
IO_PORT "i2s_din" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i2s_lrck" 55;
IO_PORT "i2s_lrck" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2s_bclk" 56;
IO_PORT "i2s_bclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// SPI flash
IO_LOC "mspi_wp" 57;
IO_PORT "mspi_wp" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_clk" 59;
IO_PORT "mspi_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_cs" 60;
IO_PORT "mspi_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_di" 61;
IO_PORT "mspi_di" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "mspi_do" 62;
IO_PORT "mspi_do" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mspi_hold" 63;
IO_PORT "mspi_hold" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// UART
IO_LOC "sys_tx" 69;
IO_PORT "sys_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sys_rx" 70;
IO_PORT "sys_rx" IO_TYPE=LVCMOS33 PULL_MODE=NONE PCI_CLAMP=OFF BANK_VCCIO=3.3;

// SPI host data
IO_LOC "hspi_din0" 71;
IO_PORT "hspi_din0" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "hspi_din1" 72;
IO_PORT "hspi_din1" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "hspi_din2" 73;
IO_PORT "hspi_din2" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "hspi_din3" 74;
IO_PORT "hspi_din3" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "hspi_dir" 75;
IO_PORT "hspi_dir" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hspi_dat" 76;
IO_PORT "hspi_dat" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hspi_csn" 86;
IO_PORT "hspi_csn" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// WS2812
IO_LOC "ws2812" 79;
IO_PORT "ws2812" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// SDIO
IO_LOC "sdio_d2" 80;
IO_PORT "sdio_d2" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "sdio_d3" 81;
IO_PORT "sdio_d3" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "sdio_cmd" 82;
IO_PORT "sdio_cmd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdio_clk" 83;
IO_PORT "sdio_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdio_d0" 84;
IO_PORT "sdio_d0" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "sdio_d1" 85;
IO_PORT "sdio_d1" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// Mode buttons
IO_LOC "mode1_key2" 87;
IO_PORT "mode1_key2" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "mode0_key1" 88;
IO_PORT "mode0_key1" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;


// Notes
// - Skipped power/ground/NC pins (vcore, vss, vcco, vccplll, epad, empty pins 43-44)
// - LVDS25 pairs: 5351ck_p (10,11), dvi_txc_p (33,34), dvi_tx0_p (35,36), dvi_tx1_p (37,38), dvi_tx2_p (39,40)
// - LVCMOS33 for all single-ended I/O, with BANK_VCCIO=3.3 across all banks
// - PCI_CLAMP=OFF on clock inputs and UART RX; PULL_MODE=UP on JTAG, SPI, and button pins; DRIVE=8 on outputs, omitted on inputs

// Power / ground / NC pins (not user I/O)
// Pin  1: 1.0v/vcore
// Pin  2: gnd/vss
// Pin  3: vccx/vcco_2/6/7
// Pin 12: 3.3v/vccx/vcco_2/6/7
// Pin 14: vccplll_1
// Pin 21: gnd/vss
// Pin 22: 1.0v/vcore
// Pin 23: vcco_5
// Pin 24: vss
// Pin 28: (blank line in source)
// Pin 43: (unassigned)
// Pin 44: (unassigned)
// Pin 45: 1.0v/vcore
// Pin 46: gnd/vss
// Pin 47: r11_10k/gnd/extr
// Pin 50: vccpllr_1
// Pin 58: vcco_3
// Pin 64: 3.3v/vccx/vcco_2/6/7
// Pin 65: gnd/vss
// Pin 66: 1.0v/vcore
// Pin 67: 3.3v/vcco_1
// Pin 68: gnd/vss
// Pin 78: 3.3v/vcco_0
// Pin 89: gnd/epad
